# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.swp
.DS_Store

daemon/actord/actord
daemon/proxyd/proxyd
cmd/feed/feed
bench/unix_sock/client
bench/unix_sock/server
metrics.log
actord.lock
etc/actord.cf
panic.dump
